<div class="login-page">
    <div class="login-container">
      <div class="login-image">
        <h1>Witaj w FitFrontier!</h1>
        <h2>Zaloguj się lub utwórz konto i rozpocznij przygodę z treningami!</h2>
      </div>

      <div class="login-form">
        <h2>Logowanie</h2>
        <p>Zaloguj się do swojego konta lub utwórz nowe!</p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your username">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" placeholder="Hasło">
        </mat-form-field>
  
        <button mat-raised-button color="primary">Zaloguj</button>
        <br>
        <p>Nie masz jeszcze konta? <a href="/register">Zarejestruj się!</a></p>
      </div>

    </div>
  </div>
  