.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px 20px;
  border-bottom: 1px solid #e2e2e2;
}

.navbar-left{
  display: flex;
}

.user-info{
  margin-top: 0.3em;
  margin-left: 1em;
}

.navbar-left span{
  font-size: 1em;
}

.navbar-right button {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.navbar-right button:hover {
  background-color: #d32f2f;
}
