.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px 20px;
  border-bottom: 1px solid #e2e2e2;
  background-color: rgb(61, 34, 179);
}

.navbar-left{
  display: flex;
}

.user-info{
  margin-top: 0.3em;
  margin-left: 1em;
}

.navbar-left{
  mat-icon{
    color: white;
  }

  span{
    font-size: 1em;
    font-weight: 500;
    color: white;
  }
} 

.navbar-right {
  padding: 8px 16px;
  color: red;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.navbar-right button:hover {
  background-color: #d32f2f;
}
