<header>
    <div class="navbar">
        <div class="navbar-left">
          <mat-icon color="primary">account_circle</mat-icon>

          <div class="user-info">
            @if(userData$ | async; as userData) {
              <span>{{userData.firstName}} {{userData.lastName}}</span>
             } @else {
              <span>Unknown user</span>
             }
          </div>
        </div>
        <div class="navbar-right">
          <button (click)="logout()">Logout</button>
        </div>
      </div>
</header>
