<div>
    @if(token$ | async; as token) {
    <mat-card>
            <mat-card-title>
                <div class="token-title">
                    <img src={{token.image.small}}>
                    <div class="token-title-name">{{token.name}}</div>
                </div>
            </mat-card-title>
            <mat-card-content class="card-content">
                <div class="token-data-container">
                    <mat-list>
                        <mat-list-item class="detail-list">
                            <div class="data">
                                <p class="alignleft">Current Price</p>
                                <p class="alignright">
                                  {{ token.market_data.current_price.usd }}$
                                </p>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item class="detail-list">
                            <div class="data">
                                <p class="alignleft">Change 24h:</p>
                                <p class="alignright" [ngClass]="{
                                    'text-red': token.market_data.price_change_percentage_24h < 0,
                                    'text-green': token.market_data.price_change_percentage_24h > 0,
                                    'text-white': token.market_data.price_change_percentage_24h == 0
                                  }">
                                  {{ token.market_data.price_change_percentage_24h.toFixed(2) }}%
                                </p>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item class="detail-list">
                            <div class="data">
                                <p class="alignleft">Change 7d:</p>
                                <p class="alignright" [ngClass]="{
                                    'text-red': token.market_data.price_change_percentage_7d < 0,
                                    'text-green': token.market_data.price_change_percentage_7d > 0,
                                    'text-white': token.market_data.price_change_percentage_7d == 0
                                  }">
                                  {{ token.market_data.price_change_percentage_7d.toFixed(2) }}%
                                </p>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item class="detail-list">
                            <div class="data">
                                <p class="alignleft">Change 30d:</p>
                                <p class="alignright" [ngClass]="{
                                    'text-red': token.market_data.price_change_percentage_30d < 0,
                                    'text-green': token.market_data.price_change_percentage_30d > 0,
                                    'text-white': token.market_data.price_change_percentage_30d == 0
                                  }">
                                  {{ token.market_data.price_change_percentage_30d.toFixed(2) }}%
                                </p>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item class="detail-list">
                            <div class="data">
                                <p class="alignleft">Change 1 year:</p>
                                <p class="alignright" [ngClass]="{
                                    'text-red': token.market_data.price_change_percentage_1y < 0,
                                    'text-green': token.market_data.price_change_percentage_1y > 0,
                                    'text-white': token.market_data.price_change_percentage_1y == 0
                                  }">
                                  {{ token.market_data.price_change_percentage_1y.toFixed(2) }}%
                                </p>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item class="detail-list">
                            <div class="data">
                                <p class="alignleft">Market cap rank</p>
                                <p class="alignright">
                                  {{ token.market_cap_rank }}
                                </p>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        
                        <mat-list-item class="detail-list">
                            <div class="data">
                                <p class="alignleft">ATH</p>
                                <p class="alignright">
                                  {{ token.market_data.ath.usd }}$
                                </p>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                      </mat-list>
                </div>

                <div class="chart-container">
                    <app-crypto-chart [chartTokenName] = tokenName></app-crypto-chart>
                </div>
            </mat-card-content>
    </mat-card>
    
    <br>

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <img src="{{token.image.small}}">
            </div>
            <mat-card-title>About {{token.name}}</mat-card-title>
            <mat-card-subtitle>Description</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="description-container">
            <div [innerHTML]="token.description.en"></div>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [href]="token.links.homepage[0]" target="_blank">Source</a>
        </mat-card-actions>
    </mat-card>
    } @else {
        <mat-spinner></mat-spinner>
    }
</div>