:host {
  display: block;
}

.header{
  font-size: 30px;
  margin-top: 1em;
  margin-BOTTOM: 1em;
  color: rgb(118, 75, 238);

  Mat-icon{
    scale: 150%;
  }
}

.info-container{
  display: flex;
  justify-content: space-between;
}

.info-card-left{
  width: 70%;
}

.info-card{
  width: 28%;
}

.card-header{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1em;
}

.card-content{
  font-size: 15px;
}

.form-card{
  padding: 1em;
}

.form-unit{
  width: 40%;
}

mat-form-field {
  margin-right: 2em;
}
.value-container{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 3em;
  font-weight: 500;
  color: rgb(141, 70, 207);
  background-color: rgb(246, 245, 248);
  padding: 2em;
}