<div class="container">
    <div class="header">
        <mat-icon>account_balance_wallet</mat-icon>
        Wallet
    </div>

    <div class="info-container">
        <mat-card class="info-card-left">
            <mat-card-header class="card-header">
                Wallet value estimation
            </mat-card-header>
            <mat-card-content class="card-content">
                <app-pie-chart [chartData]="chartValues"></app-pie-chart>
            </mat-card-content>
        </mat-card>

        <mat-card class="info-card">
            <mat-card-header class="card-header">
                Value estimation
            </mat-card-header>
            <mat-card-content class="card-content">
              Here you can find value estimation of your crypto wallet. Use table below to add your tokens to database!

              <div class="value-container">
                {{walletEstimation.totalEstimation.toFixed(2)}}$
              </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br>

      <mat-card>
        <mat-card-header>
          Add your coins to wallet
        </mat-card-header>

        <div class="form-card">
          <form [formGroup]="form" (ngSubmit)="addUserToken()" >
            <mat-form-field class="form-unit" appearance="outline">
              <mat-label>Search</mat-label>
              <input type="text"
                      placeholder="Search"
                      aria-label="Number"
                      matInput
                      [formControl]="myControl"
                      [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
              @for (option of filteredOptions | async; track option) {
                  <mat-option [value]="option.name">
                      <img src="{{option.image}}" width="20px">
                      {{option.name}}
                  </mat-option>
              }
              </mat-autocomplete>
              <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          <mat-form-field floatLabel="always" appearance="outline" class="form-unit">
            <mat-label>Amount</mat-label>
            <input 
              matInput 
              type="number" 
              formControlName="quantity"
              placeholder="0">
          </mat-form-field>

          <button mat-raised-button  type="submit" color="primary">
            <mat-icon>add</mat-icon>
            Dodaj
          </button>
        </form>
        </div>
    </mat-card>

    <br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >

        <!-- Symbol Column -->
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef> Logo </th>
          <td mat-cell *matCellDef="let element">
            <img src="{{element.image}}" width="30px">
          </td>
        </ng-container>
    
        <ng-container matColumnDef="Symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

        <!-- Tag Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
                <div class="token-name-container">
                    <div class="token-name">
                        {{element.name}}
                    </div>
                </div>
             </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}}$ </td>
        </ng-container>
    
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="EstimatedValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> EstimatedValue </th>
            <td mat-cell *matCellDef="let element"> {{element.valueEstimation}}$ </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="basic" (click)="deleteUserToken(element.tokenId)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
    
        <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="basic" (click)="navigateToTokenDetails(element.tokenId)">
                <mat-icon>chevron_right</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
        </tr>
      </table>
</div>