<div class="upper-container">
  <div class="content-container">
    <app-global-crypto-data></app-global-crypto-data>
  </div>
  <div class="content-container">
    <app-app-info></app-app-info>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >

    <!-- Symbol Column -->
    <ng-container matColumnDef="Logo">
      <th mat-header-cell *matHeaderCellDef> Logo </th>
      <td mat-cell *matCellDef="let element">
        <img src="{{element.image}}" width="30px">
      </td>
    </ng-container>

    <!-- Tag Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
            <div class="token-name-container">
                <div class="token-name">
                    {{element.name}}
                </div>
                {{element.symbol}}
            </div>
         </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.currentPrice}}$ </td>
    </ng-container>

    <!-- 24h Change Column -->
    <ng-container matColumnDef="Last 24h">
      <th mat-header-cell *matHeaderCellDef> Last 24h </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.marketCapChangePercentage24h < 0" [ngStyle]="{color:'red'}">{{element.marketCapChangePercentage24h.toFixed(2)}}% </span>
        <span *ngIf="element.marketCapChangePercentage24h > 0" [ngStyle]="{color:'green'}">{{element.marketCapChangePercentage24h.toFixed(2)}}% </span>
        <span *ngIf="element.marketCapChangePercentage24h == 0" [ngStyle]="{color:'white'}">{{element.marketCapChangePercentage24h.toFixed(2)}}% </span>
      </td>
    </ng-container>

    <!-- 24h high Change Column -->
    <ng-container matColumnDef="High 24h">
        <th mat-header-cell *matHeaderCellDef> High 24h </th>
        <td mat-cell *matCellDef="let element"> {{ element.high24h }}$</td>
    </ng-container>

    <!-- 24h low Change Column -->
    <ng-container matColumnDef="Low 24h">
        <th mat-header-cell *matHeaderCellDef> Low 24h </th>
        <td mat-cell *matCellDef="let element"> {{ element.low24h }}$</td>
    </ng-container>

    <!-- Total volume -->
    <ng-container matColumnDef="Total volume">
        <th mat-header-cell *matHeaderCellDef> Total volume </th>
        <td mat-cell *matCellDef="let element"> {{ element.totalVolume }}$</td>
    </ng-container>

    <ng-container matColumnDef="Details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="basic" (click)="navigateToTokenDetails(element.id)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="basic" (click)="setAsFavourite(element.id, element.isFavourite)">
          @if(element.isFavourite){
            <mat-icon>bookmark</mat-icon>
          }
          @else{
            <mat-icon>bookmark_border</mat-icon>
          }
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
    </tr>
  </table>